.input-field {
    .invalid {
        margin-bottom: 30px;
    }

    .invalid-message {
        font-size: 0.8rem;
        transform: translateY(-120%);
        position: absolute;
        color: $input-error-color;
    }

    .message {
        font-size: 0.8rem;
        transform: translateY(-120%);
        position: absolute;
    }

    .progress-message {
        font-size: 0.8rem;
        transform: translateY(-250%);
        position: absolute;
    }
}
