{{#if (and (v-get context attribute 'isDirty') (v-get context attribute 'isInvalid') (v-get context attribute 'message'))}}
    {{#if hasBlock}}
        {{yield (v-get context attribute 'message')}}
    {{else}}
        <span class="invalid-message">{{v-get context attribute 'message'}}</span>
    {{/if}}    
{{/if}}
