{{#if hasBlock}}
    {{yield src}}
{{else}}
    {{#if _data}}
        <img width={{default width 100}} height={{default height 100}} alt={{alt}} style="background: url({{src}}) no-repeat center; background-size: contain;">
    {{else}}
        <img width={{default width 100}} height={{default height 100}} alt={{alt}}>
    {{/if}}
{{/if}}
