<div id="{{id}}-autocomplete-div">
    {{siren-input type='text' id=id class=(readonly class) value=(readonly stringValue) on-change=(action 'filter')}} 
    {{#if label}}
        <label for="{{id}}">{{label}}</label>
    {{/if}}

    <div id="{{id}}-autocomplete" style="display:none;position:absolute;background-color:white;z-index:500;width:95%;" class="no-margin">
        <div class="card no-margin-top no-margin-top-bottom" style="overflow-y:auto;max-height:15em;width:100%">
            {{#each filteredList as |item|}}
                <div class="card lighten-5 small-marign-top-bottom average-padding" {{action 'select' item}}>
                    {{yield item value}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
