<thead>
    <tr>
        {{#each columnsData as |column|}}
            {{#if (and orderable column.orderable)}}
                <th data-field={{dasherize column.name}} class={{column.class}} {{action 'updateOrderBy' column.orderBy}}>
                    <span {{action 'updateOrderBy' column.orderBy}}>{{column.name}}</span>
                </th>
            {{else}}
                <th data-field={{dasherize column.name}} class={{column.class}}>
                    {{column.name}}
                </th>
            {{/if}}
        {{/each}}
    </tr>
</thead>
<tbody>
    {{#if hasData}}
        {{yield orderedData}}
    {{else if emptyDataMessage}}
        <tr>
            <td class="center-align" colspan={{columnsData.length}}><strong>No data available</strong></td>
        </tr>
    {{/if}}
</tbody>
